* {
    margin: 0;
    padding: 0;
    overflow-y: hidden;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

body {
    display: flex;
    justify-content: center;
    font-family: Calibri;
}

.hide-it {
    display: none;
}

/*-------------------------------------------------------------------------------------------------------------*/

.game-container {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 1600px;
    height: 877px;
}

/*-------------------------------------------------------------------------------------------------------------*/

.start-screen {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/*-------------------------------------------------------------------------------------------------------------*/

.gametitle-text {
    font-size: 50px;
}

/*-------------------------------------------------------------------------------------------------------------*/

.themes-music-settings-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.themes-container,
.music-settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

.classic-theme-button,
.sonic-theme-button {
    font-family: Calibri;
    font-size: 16px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 3px;
    width: 60px;
    height: 25px;
}

/*-------------------------------------------------------------------------------------------------------------*/

.main-settings-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

/*-------------------------------------------------------------------------------------------------------------*/

.players-mode-container,
.best-of-mode-container,
.ai-difficulty-container,
.ball-count-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.players-mode-container-text,
.best-of-mode-container-text,
.ball-count-container-text,
.ai-difficulty-container-text,
.themes-container-text,
.music-settings-container-text {
    font-size: 24px;
}

.one-player-vs-one-ai-button,
.one-player-vs-two-ai-button,
.two-players-vs-one-ai-button,
.two-players-vs-two-ai-button,
.one-player-vs-one-player-button,
.best-of-one-button,
.best-of-three-button,
.best-of-five-button,
.best-of-seven-button,
.best-of-nine-button,
.easy-ai-button,
.normal-ai-button,
.hard-ai-button {
    font-family: Calibri;
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 150px;
    height: 30px;
}

/*-------------------------------------------------------------------------------------------------------------*/

.ball-count-buttons-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.decrease-ball-count-button,
.increase-ball-count-button {
    font-family: Calibri;
    font-size: 24px;
    width: 50px;
    height: 80px;
}

.ball-count {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Calibri;
    font-size: 50px;
    color: rgb(75, 194, 75);
    margin-right: 20px;
    margin-left: 20px;
    width: 50px;
    height: 80px;
}

.highlighted-button {
    background-color: rgb(75, 194, 75);
}

/*-------------------------------------------------------------------------------------------------------------*/

.play-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.play-button {
    font-family: Calibri;
    font-size: 30px;
    width: 200px;
    height: 60px;
}

/*-------------------------------------------------------------------------------------------------------------*/

.mainframe {
    display: none;
    flex-direction: column;
    align-items: center;
}

.wins-info {
    font-size: 30px;
}

.mainframe-menu-buttons-container {
    display: flex;
    align-items: center;
}

.mainframe-restart-button,
.mainframe-go-to-menu-button {
    font-family: Calibri;
    font-size: 20px;
    margin: 5px;
    width: 150px;
    height: 30px;
}

/*-------------------------------------------------------------------------------------------------------------*/

.gameover-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.gameover-text {
    font-size: 80px;
}

.score-text {
    font-size: 100px;
}

.gameover-buttons-container {
    display: flex;
    justify-content: space-around;
}

.restart-button,
.go-to-menu-button {
    font-family: Calibri;
    font-size: 30px;
    width: 200px;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
}