* {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.mainframe {
    margin-top: 50px;
    display: flex;    
    justify-content: space-around;
}

/*-------------------------------------------------------------------------------------------------------------*/